// **********************
// Media Queries config
// **********************
@mixin desktop {
  @media (min-width: 940px) {
    @content
  }
};

// *******************
// Utilities classes
// *******************

// Flex center
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
};

