// **********************
// Media Queries config
// **********************
@mixin desktop {
  @media (min-width: 940px) {
    @content
  }
};

// *******************
// Utilities classes
// *******************

// Center items with Flex or Grid
@mixin centerItems {
  align-items: center;
  justify-content: center;
  text-align: center;
};

