// ******************
// Colors variables
// ******************

// Primary colors
$primary-color: #e50914;

// Light colors


// *********************
// Utilities variables
// *********************

// Padding
$padding-s: 1rem;
$padding-m: 1.2rem;

// Border radius
$border-m: 15px;